<body>
    <div class="center" id="loginCard">
        <div class="objCenter">
            <h1><img id="logo" src=/imgs/logo.png></h1>
            <form method="POST" action="login">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label entrada">
                    <input class="mdl-textfield__input" type="text" id="email" name="email">
                    <label class="mdl-textfield__label" for="email">Correo electronico...</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label entrada">
                    <input class="mdl-textfield__input" type="password" id="contraseña" name="contraseña">
                    <label class="mdl-textfield__label" for="contraseña">Contraseña...</label>
                </div>
                <br>
                <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</body>