<head>

    <link rel="styleSheet" href="/css/message.css">

</head>

{{#if success}}
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{success}}</h4>
        <br>
        <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Aceptar</button>
        </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        $(document).ready(() => {
             console.log('cargo');
            
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
        });    
    </script>
{{/if}}

{{#if message}}
    <dialog class="mdl-dialog">
        <h4 class="mdl-dialog__title">{{message}}</h4>
        <br>
        <div class="mdl-dialog__actions">
        <button type="button" class="mdl-button close">Aceptar</button>
        </div>
    </dialog>
    <script>
        var dialog = document.querySelector('dialog');
        $(document).ready(() => {
             console.log('cargo');
            
            if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
            }
            dialog.showModal();
        });
        dialog.querySelector('.close').addEventListener('click', function() {
            dialog.close();
        });        
    </script>
{{/if}}